.movie-finder-game-flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie-finder-game-flex-container > div {
  padding: 2em;
  justify-content: center;
  text-align: center;
}

.assortment-flex-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}

.assortment-flex-container > div {
  margin: 0.5em;
  justify-content: center;
  text-align: center;
  min-width: 10%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.images-categories{
  max-width: 100%;
}

#countdown {
  text-align: center;
  background-color: rgb(141, 26, 64, 50%);
  border-radius: 15px;
}

@media only screen and (max-width: 500px) {
  .movie-finder-game-flex-container {
    flex-direction:column;
  }
  .assortment-flex-container{
    flex-direction:column;
  }
}

@media only screen and (max-width: 1200px) {
  .assortment-flex-container{
    flex-direction:column;
  }
}
