.movie-finder-game-flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie-finder-game-flex-container > div {
  padding: 2em;
  justify-content: center;
  text-align: center;
}

.assortment-flex-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.assortment-flex-container > div {
  padding: 1em;
  justify-content: center;
  text-align: center;
  min-width: 10%;
}

.images-categories{
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .movie-finder-game-flex-container {
    flex-direction:column;
  }
  .assortment-flex-container{
    flex-direction:column;
  }
}

@media only screen and (max-width: 1280px) {
  .assortment-flex-container{
    flex-direction:column;
  }
}