/*Form Container*/
#formContainer,
#result {
  background-color: #ffffff;
  padding-top: 2%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: 10% auto;
}

#formContainer div,
#result div {
  margin-bottom: 3%;
}

#formContainer label {
  margin-right: 3%;
}

#formContainer input[type="submit"] {
  display: block;
  margin: auto;
}

/*Result Container*/
#result {
  padding: 2em;
}

#result button {
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}

/*Schriften*/
#questionnaireForm p {
  margin-bottom: 0.5em;
  font-weight: 600;
}

#movie-finder-error {
  color: red;
  font-weight: 600;
}